@model CarRentalApp.Models.Reservation

@{
    ViewData["Title"] = "Delete";
}

<h1>Do usunięcia:</h1>

<h3>Czy na pewno chcesz usunąć ten element?</h3>
<div>
    <h4>Rezerwacja</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Samochód:</dt>
        <dd class="col-sm-10">
            @Model.Car.Make @Model.Car.Model
        </dd>
        <dt class="col-sm-2">Użytkownik:</dt>
        <dd class="col-sm-10">
            @Model.User.FirstName @Model.User.LastName (@Model.User.Email)
        </dd>
        <dt class = "col-sm-2">
            Od kiedy:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            Do kiedy:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót</a>
    </form>
</div>
